<div class="taskForm">
    <form >
        <div>
            <input type="text" placeholder="Name" class="form-control" size="50" name="name" required>
        </div>
        <div>
            <input type="text" placeholder="Description" class="form-control" size="50" name="name" required>
        </div>
        <div>
            <input type="text" placeholder="Aproximate Hour" class="form-control" size="50" name="name" required>
        </div>
        <div>
            <fieldset class="createTask">
                <legend>Section</legend>
                <div>
                    <input type="text" placeholder="Name" class="form-control" size="50" name="name" required>
                </div>
                <div>
                    <input type="text" placeholder="Description" class="form-control" size="50" name="name" required>
                </div>
            </fieldset>
        </div>
    </form>
</div>