.taskForm{
    width: 50%;
    margin: auto;
    margin-top: 3%;
    border: 2px solid gray;
    padding: 10px;
}
.createTask {
    margin: auto;
    margin-top: 3%;
    border: 2px solid gray;
    padding: 10px; 
}

div,
input {
    margin-bottom: 18px;
    padding: 5px;
}

legend {
    font-size: medium;
    width: 8%;
    padding: 2px;
}

select{
    width: 20%;
    padding: 5px;
}